#!name = 优酷
#!desc = 移除广告
#!author = RuCu6
#!update = 2023-07-25 16:40

# 播放广告
^https:\/\/un-acs\.youku\.com\/gw\/mtop\.youku\.play\.ups\.appinfo\.get url script-response-body https://raw.githubusercontent.com/RuCu6/QuanX/main/Scripts/youku.js

hostname = un-acs.youku.com
